<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.57072604372-atronfd68sgo0l369sd215l4veu05rtb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6ebf4551a587213ca4441027c493ef69</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>57072604372-atronfd68sgo0l369sd215l4veu05rtb.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>57072604372-mp0psmdo18mme37oan2u72aff4iqeqod.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaoplus</string>
	</array>
</dict>
</plist>
